BOT_TOKEN=8863328831:AAGAjsVphyo6YdOaoIOhAkV7IBZBNUKnJdk
ADMIN_ID=5583787103
DATABASE_URL=postgresql://postgres:nuriddin11A@db.txnjzrkbhqniiybcbmss.supabase.co:5432/postgres
CARD_NUMBER=6262570478169040
CARD_OWNER=Raxmatova Ozoda