BOT_TOKEN=8863328831:AAGB1mtjFbq1RoZVSY222YK_q_6eR6kAdEw
ADMIN_ID=5583787103
DATABASE_URL=postgresql://postgres:nuriddin11A@db.txnjzrkbhqniiybcbmss.supabase.co:5432/postgres
CARD_NUMBER=6262570478169040
CARD_OWNER=Raxmatova Ozoda